<h1><%= @map.name %></h1>


<div>
  <h3>Filter routes by rating:</h3>
  <%= form_tag("/maps/:id", method: "get") do %>
    <%= select_tag "rating", options_for_select(["1", "2", "3", "4", "5"]), include_blank: true %>
    <%= hidden_field_tag "map", @map.id %>
    <%= submit_tag "Filter" %>
  <% end %>
</div>


<% if !params[:rating].blank? %>
  <% #binding.pry %>
  <% @routes = Route.where("rating =?", @rating.to_i) %>
  <ul>
    <% @routes.each do |route| %>
        <li><button class="route" data-map="<%=@map.id%>" data-id="<%=route.id%>"><%=route.name%></button></li>
    <% end %>
</ul>
<% else %>

<%# if @map.routes %>
<ul>
    <% @map.routes.each do |route| %>
        <li><button class="route" data-map="<%=@map.id%>" data-id="<%=route.id%>"><%=route.name%></button></li>
    <% end %>
</ul>

<% end %>



<label><%= link_to "Create New Route?", new_map_route_path(@map) %></label>

<br><br>

<% if best_routes(@map) != [] %>
  
  <h3>The highest ranked route(s) for this map: </h3>
  <ul>
  <% #binding.pry %>    
  <% best_routes(@map).each do |route| %>
    <li><%= route.name %> </li>
  <% end %>
  </ul>
<% end %>



<script type="text/javascript" charset="utf-8">
  $(function() {
    $('.route').click( function() {
      //debugger
      var id = this.dataset.id
      var map = this.dataset.map
      //debugger
       window.location=`${map}/routes/${id}`
    })
  })
</script>


