<!DOCTYPE html>
<html>
  <head>
    <title>Routes</title>
    <%= csrf_meta_tags %>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    
    <%= render 'layouts/warning' %>
    
    <%= yield %>
  </body>
  
  <%= render 'layouts/signuporout' %>

</html>
