<% #binding.pry %>
<h3>Edit your route:</h3>

<%= form_for @route, :html => {:class => 'route'}, url: map_routes_path do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>
    <%= f.label :landmarks %>
    <%= f.collection_check_boxes :landmark_ids, Landmark.all, :id, :name %><br><br>
    <%= f.label :rating %>
    <%= select_tag :rating, options_for_select(["1", "2", "3", "4", "5"]), include_blank: true %><br>
    <%= f.hidden_field :map_id, :value => @map.id %>
    
    <%= f.submit %>

<% end %>

<br><br><br>
<div id="results">
<p id="routeName"></p>
<p id="routeRanking"></p>
<p id="routeLandmarks"></p>
</div>


<script type="text/javascript" charset="utf-8">
$(function() {
    //debugger
    $('form').submit(function(e) { 
        e.preventDefault()
        var values = $(this).serialize()
        var thisIsRoute = this.attributes[2]["nodeValue"] + "/" + this.id.slice(-1)
        //debugger
        var editing = $.ajax({
          type: 'PATCH',
          url: `${thisIsRoute}`,
          data: values
        });
        editing.done(function(data) {
            //debugger
            var thisRoute = data
            hereRoute = new RouteObject(thisRoute);
            //debugger
            if (thisRoute["data"]["attributes"]["rating"] === undefined) {
                 $("#routeRanking").text("Be the first person to rate this route!") 
            } else {
                 $("#routeRanking").text("Route Ranking (if ranked) " + thisRoute["data"]["attributes"]["rating"]) 
            }
            
            var result = hereRoute.returnTemplate() 
            document.getElementById("routeName").innerHTML = result;
        })
    })
})
</script>

<script id="route-template" type="text/x-handlebars-template">
  <article>
    <header><h3>Route Name: {{name}}</h3></header>
    {{#list landmarks}} Name: {{name}} - History: {{history}}{{/list}}    
    

  </article>
</script>
