<h3><%=@route.name %></h3>
<% #binding.pry%>

<ul>
    <% @route.landmarks.each do |landmark| %>
        <li><button class="landmark" data-id="<%=landmark.id%>"><%= landmark.name %></button></li>
    <% end %>
</ul>

<br>

<h3><%= link_to "Edit Route", edit_map_route_path %></h3>
<h3><%= link_to "Create New Landmark", new_landmark_path %></h3> 

<% #binding.pry %>

<br>
<div id="landmark-name"></div><br>
<div id="landmark-history"></div>
<br>
<br>

<script type="text/javascript" charset="utf-8">
$(function () { 
  $('.landmark').on("click", function(e) {
        var id = this.dataset.id
        e.preventDefault()
        
        $.get("/landmarks/" + id + ".json", function(data) {
        $('#landmark-name').html()
        $('#landmark-name').html(data["data"]["attributes"]["name"])
        $('#landmark-history').html(data["data"]["attributes"]["history"])
        })
    })    
  })
</script>
