<h3><%=@route.name %></h3>
<% #binding.pry%>

<ul>
    <% @route.landmarks.each do |landmark| %>
        <li><button class="showlandmark" data-id="<%=landmark.id%>"><%= landmark.name %></button></li>
    <% end %>
</ul>

<% if @route.rating != nil %>
    <p>This route has been rated: <%=@route.rating%>.</p>
<% end %>

<br>

<h3><%= link_to "Edit Route", edit_map_route_path %></h3>
<h3><%= link_to "Create New Landmark", new_landmark_path %></h3> 
<label><%= link_to 'Delete Route?', map_route_path(@route.map.id, @route.id), :confirm => "Are you sure you want to delete this attachment?", method: :delete %></label>
<% #binding.pry %>

<br>
<div id="landmarkHere"></div>
<br>

<script id="lm-template" type="text/x-handlebars-template">
  <article>
    <header><h3>Landmark Name: {{name}}</h3></header>
    <p>Landmark history: {{history}}</p>
  </article>
</script>


<br>
